@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Righteous');

@layer utilities{
    .container {
        height: 800px;
        overflow: hidden
    }
    .bg-dark {
        background-color: #363636;
    }
    .mt-18 {
        margin-top: 4.5rem;
    }
    .ptb-170 {
        padding: 170px 0px;
    }
    .ease-500{
        transition: all 500ms ease;
    }
}